* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  font-family: 'Varela', sans-serif;
}
html,
body {
  height: 100%;
}
html,
body {
  height: 100%;
}
.wrapper {
  margin: 0 auto -73px;
  min-height: 100%;
  height: 100%;
  height:auto !important;
}
.inner {
  margin: auto;
  max-width: 960px;
}
.container{
  padding:20px 40px;
}
.container h3{
  color:#333;
  font-size:48px;
}
.container p{
  padding:15px 0 15px 40px;
  color:#555;
  font-weight:300;
  font-size:32px;
  line-height:140%;
}
header {
  width:100%;
  z-index:99999;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  box-sizing: border-box;
  padding: 0 16px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 3px 0 #333;
  box-shadow: 0 0 3px 0 #333;
  -ms-box-sizing:border-box;
  position:absolute;
  top:0;
}
header:after {
  display: block;
  clear: both;
  content: '';
}
header .logo-container {
  display: block;
  float: left;
}
header .logo-container span {
  font-size: 32px;
  line-height: 82px;
  -webkit-transition:color 0.25s;
  -moz-transition:color 0.25s;
  -ms-transition:color 0.25s;
  -o-transition:color 0.25s;
  transition:color 0.25s;
}
header .logo-container .green {
  color: #11A069;
}
header .logo-container .black {
  margin-left: 4px;
  color: #000;
}
header .logo-container:hover .green{
  color:#000;
}
header .logo-container:hover .black{
  color:#11A069;
}
header nav {
  float: right;
}
header nav a {
  display: block;
  float: left;
  margin: 4px 16px 0 16px;
  padding: 16px 16px;
  border-bottom: solid 4px transparent;
  color: #222;
  font-size: 16px;
  line-height: 42px;
}
header nav a:hover {
  border-bottom: solid 4px #11A069;
  color: #11A069;
}
header nav a.selected{
  color:#11A069;
}
header nav a.button {
  margin-top: 23px;
  padding: 5px 10px;
  border: solid 1px #0F8A5B;
  border-radius: 2px;
  background-color: #11A069;
  -webkit-box-shadow: 0 0 2px 0 #ccc;
  box-shadow: 0 0 2px 0 #ccc;
  color: #FFF;
  line-height: 24px;
}
header nav:after,
header footer:after {
  display: block;
  clear: both;
  content: '';
}
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 48px;
  width: 100%;
  height: 73px;
  border-top: solid 1px #095D3D;
  background-color: #0B754C;
  color: #EEE;
  -ms-box-sizing: border-box;
  margin-top:75px;
}
footer .footer-inner {
  margin: 0 auto;
  height: 24px;
  text-align: center;
}
footer .footer-inner:after {
  display: block;
  clear: both;
  content: '';
}
footer .footer-links {
  position: relative;
  display: inline-block;
  text-align: center;
}
footer .footer-links li {
  display: inline-block;
  float: left;
  margin: 0 20px;
  list-style: none;
}
footer .footer-links li a {
  height:24px;
  color: #CCC;
  line-height:24px;
}
footer .footer-links li a:hover {
  color: #FFF;
}
footer .footer-links .social-media-links ul li{
  margin:0 10px;
}
footer .footer-links .social-media-links ul li a{
  display:block;
  width:24px;
  height:24px;
  background-image:url('http://d3bc8kzom9lpd2.cloudfront.net/images/social_media/social_media_sprites.png');
  background-size:48px 72px;
  background-repeat:no-repeat;
  text-indent:-9999px;
}
footer .footer-links .social-media-links ul li a.facebook-link{
  background-position:-24px 0;
}
footer .footer-links .social-media-links ul li a.facebook-link:hover{
  background-position:0 0;
}
footer .footer-links .social-media-links ul li a.twitter-link{
  background-position:-24px -48px;
}
footer .footer-links .social-media-links ul li a.twitter-link:hover{
  background-position:0 -48px;
}
footer .footer-links .social-media-links ul li a.googleplus-link{
  background-position:-24px -24px;
}
footer .footer-links .social-media-links ul li a.googleplus-link:hover{
  background-position:0 -24px;
}
footer .footer-links .social-media-links ul li .twitter-link .twitter-logo{
  margin-top:2px;
}
.content{
  z-index:2;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:auto;
  padding-top:82px;
  width:100%;
  -ms-box-sizing:border-box;
}