.banner{
	padding: 8px 16px;
	background-color: rgba(0,0,0,0.1);
}
@media(max-width:959px) {
	.pitch-and-image-container {
		width: 400px;
	}

	.pitch,
	.shreveport-image-container {
		margin: auto;
	}

	.shreveport-image-container {
		margin: 25px auto 0 auto;
		width: 300px;
	}

	.shreveport-image-container img {
		width: 300px;
	}

	.shreveport-image-container:nth-child(2) {
		display: none;
	}

	.upcoming-products .contact-us {
		margin: auto;
		padding-right: 75px;
		width: 478px;
	}

}

@media(min-width:960px) {
	.pitch {
		float: left;
	}

	.shreveport-image-container {
		float: right;
		width: 450px;
	}

	.shreveport-image-container img {
		width: 450px;
	}

	.shreveport-image-container:nth-child(3) {
		display: none;
	}

}

.pitch-and-image-container {
	margin: 50px auto 0 auto;
}

.pitch {
	width: 425px;
}

.pitch h2 {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	color: #11a069;
}

.upcoming-products {
	margin: 50px auto;
	border-top: solid 1px #ccc;
}

.upcoming-products ul li {
	display: block;
	margin: 30px 0;
	padding: 15px 0;
	list-style: none;
	font-size: 20px;
	line-height: 2em;
}

.upcoming-products ul li .number {
	margin-right: 25px;
	padding: 10px 18px;
	border: solid 1px #0F8A5B;
	border-radius: 50px;
	background-color: #11A069;
	-webkit-box-shadow: 0 0 2px 1px #ccc;
	box-shadow: 0 0 2px 1px #ccc;
	color: #FFF;
	text-shadow: 0 0 1px #333;
	font-size: 20px;
}
.upcoming-products ul li .number.completed{
	position:relative;
	top:15px;
}
.upcoming-products ul li .completed-text{
	margin-left:76px;
}
.upcoming-products ul li .completed-text a{
	color:#11A069;
	text-decoration:none;
}
.upcoming-products ul li .completed-text a:hover{
	text-decoration:underline;
}
.upcoming-products .contact-us {
	padding-top: 25px;
	padding-left: 75px;
	color: #333;
	font-style: italic;
}
.find-us-on-facebook{
	margin: 25px auto 25px auto;
	padding: 25px;
	width: 425px;
	border-top: solid 1px #ccc;
}
.find-us-on-facebook .find-us-on-facebook-logo,
.find-us-on-facebook .find-us-on-facebook-link{
	float:left;
}
.find-us-on-facebook .find-us-on-facebook-link{
	font-size:20px;
	margin-left:25px;
	color:#11A069;
	line-height:41px;
	text-decoration:none;
}
.find-us-on-facebook .find-us-on-facebook-link:hover{
	color:#405889;
}